# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Ignore all wrappers except run_extract_raw_data.py
luigi_pipeline/tasks/wrappers/
!luigi_pipeline/tasks/wrappers/run_extract_raw_data.py

# Ignore all data files except data/raw
luigi_pipeline/data/*
!luigi_pipeline/data/raw/
!luigi_pipeline/data/raw/**

# Ignore log files
luigi_pipeline/logs/*.log

# Ignore backup directories
luigi_pipeline/database/backups/

# Ignore any other unnecessary files or directories
*.xlsx
*.pptx

# Keep .keep files
!.keep

# Ignore these variables
luigi_pipeline/configs/
